<li class="nav-item flex-grow-1 text-end" role="presentation">
    <div class="dropdown">

        <button class="btn btn-warning dropdown-toggle " type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="false"
                aria-expanded="false">
            Документы
        </button>

        <ul class="dropdown-menu overflow-auto" style="max-height: 500px;">

            {% if product_signs %}
                {{ include(_self|replace({ "docs.html.twig": "products.sign.html.twig" })) }}
            {% else %}
                <h6 class="dropdown-header">Честных знаков не найдено</h6>
            {% endif %}

        </ul>

    </div>
</li>
